.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

:host([invalid]) vaadin-horizontal-layout {
    background: var(--lumo-error-color-50pct) !important;
}

:host {
   line-height: 24px;
}

:host([theme~="spacing"]) {
  gap: var(--lumo-space-s);
}

