<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<import
		resource="classpath:META-INF/spring/applicationContext-common.xml" />

	<!-- Field factory -->
	<bean id="fieldFactory"
		class="com.ocs.dynamo.domain.model.impl.FieldFactoryImpl" />

	<!-- Version number -->
	<bean id="versionNumber" class="java.lang.String">
		<constructor-arg value="${application.version}" />
	</bean>

	<!-- service for checking who has access to which view -->
	<bean id="permissionChecker"
		class="com.ocs.dynamo.ui.auth.impl.DefaultPermissionCheckerImpl">
		<constructor-arg value="com.ocs.gts" />
	</bean>

	<!-- Component responsible for creating the menu -->
	<bean id="menuService" class="com.ocs.dynamo.ui.menu.MenuService" />

	<!-- Spring based setup of the persistence unit -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="gts" />
		<property name="packagesToScan"
			value="com.ocs.gts.domain,com.ocs.dynamo.functional.domain" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform"
					value="org.hibernate.dialect.PostgreSQLDialect" />
				<property name="generateDdl" value="false" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="dataSource" ref="dataSource" />
	</bean>

	<jee:jndi-lookup id="dataSource"
		jndi-name="${gts.datasource.name}"></jee:jndi-lookup>

	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager" />

	<bean id="userDetailsService"
		class="com.ocs.dynamo.service.impl.DefaultUserDetailsServiceImpl" />

	<bean id="viewAccessControl"
		class="com.ocs.dynamo.ui.auth.ViewAccessControl" />

	<bean id="regionService"
		class="com.ocs.dynamo.service.impl.DefaultServiceImpl">
		<constructor-arg index="0">
			<bean class="com.ocs.dynamo.dao.impl.DefaultDaoImpl">
				<constructor-arg index="0"
					value="#{T(com.ocs.dynamo.functional.domain.QRegion).region}" />
				<constructor-arg index="1"
					value="com.ocs.dynamo.functional.domain.Region" />
			</bean>
		</constructor-arg>
		<constructor-arg index="1" value="code" />
	</bean>

</beans>
